
body{height:100%;}
*{margin: 0px; padding: 0px; border-spacing: 0; border-collapse: collapse;}
table.ChessBoard{
width:100%;
height:100%;}
table.ChessBoard tr:nth-child(even) td.square:nth-child(even){width:12%;height:12%;background: red; background-image: url(Images/BlackRook.png); 
background-size:contain;background-repeat: no-repeat; background-position: center;}
table.ChessBoard tr:nth-child(even) td.square:nth-child(odd){width:12%;height:12%;background: white;}
table.ChessBoard tr:nth-child(odd) td.square:nth-child(even){width:12%;height:12%;background: white;}
table.ChessBoard tr:nth-child(odd) td.square:nth-child(odd){width:12%;height:12%;background: red;}
